<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php">

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
            <exclude>
                <file>../src/autoload.php</file>
            </exclude>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="Veligost">
            <directory suffix="_Test.php">.</directory>
        </testsuite>
    </testsuites>

</phpunit>
